<%= form_with(model: @last_episode, local: true) do |form| %>
  <% if @last_episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@last_episode.errors.count, "error") %> prohibited this @last_episode from being saved:</h2>

      <ul>
        <% @last_episode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    

  <div class="field container mt-5">
    <div class="row cardBody py-5 mt-5">
      <div class="col-lg-3 col-md-6 py-2">
        <div class="card-body bg-dark">
          
    <%= form.label :name %>
    <%= form.text_field :name %>



    <%= form.label :episode_number %>
    <%= form.text_field :episode_number %>
 

  <div class="actions btn btn-primary bg-dark">
    <%= form.submit %>
    </div>
 </div>
   </div>
     </div>
      </div>


    
<% end %>

