
  <div class="container mt-5">
  <h4 class="text-info card-title mb-1"> Series Name : <%= @last_episode.name%></h4>


<div class="row cardBody py-5 mt-5">
   <div class="col-lg-3 col-md-6 py-2">
    <div class="card-body bg-dark">

  <ul>
    <h4 class="text-info card-text "> Episode Number : <%= @last_episode.episode_number%></h4>

    <h2 class= "text-info card-title mb-1" >Comments  </h2>
    <% @last_episode.comments.each do |c|%>
   <li class="text-info" ><p> <%=c.content%></p></li>
    <%end%>
                <p class="btn btn-primary bg-dark"><%= link_to 'Delete Series', @last_episode, method: :delete  %></p>
            <p class="btn btn-primary bg-dark"><%= link_to 'Add Comment',  new_last_episode_comment_path(@last_episode) %></p>
</ul>
</div>
   </div>
    </div>
</div>

</body>
</html>


   
         


